body {
	background: url('../img/lesson3bg.jpg');
	-webkit-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	font-family: 'IBM Plex Sans', sans-serif;
}

h2 {
	color: tomato;
	text-align: center;
	margin-top: 150px;
}

p {
	text-align: center;
	color: #fff;
	font-size: 20px;
	font-style: italic;
}
