body {
	background: url('../img/homer.jpg');
	-webkit-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	font-family: 'IBM Plex Sans', sans-serif;
}

h2 {
	font-size: 30px;
	color: tomato;
	text-align: center;
	margin-top: 150px;
}

p {
	text-align: center;
	color: #fff;
	border: 2px solid #ccc;
	border-radius: 2px;
	background-color: rgba(255, 255, 255, 0.3);
	font-size: 20px;
	font-style: italic;
}
